---
// import Integrantes from "../components/Integrantes.jsx";
import TEAM from "../../../public/js/team.ts";
import ArrowLeft from "../icons/ArrowLeft.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import LinkedIn from "../icons/Social/LinkedIn.astro";
import GithubIcon from "../icons/Social/GithubIcon.astro";
import WebSiteIcon from "../icons/Social/WebSiteIcon.astro";
---

<div class="mt-12 flex justify-center items-center">
  <div class="wrapper">
    <i id="left" class="flex justify-center items-center"><ArrowLeft /></i>
    <ul class="carousel">
      {
        TEAM.map(({ id, nombre, image, rol, linkedin, website }) => (
          <li class="card">
            <div class="image">
              <img
                src={image}
                alt={`Foto de ${nombre}`}
                class="size-36 object-cover rounded-full border-4 border-blue-500 hover:border-blue-800 hover:cursor-pointer"
              />
            </div>
            <h2 class="font-medium text-2xl">{nombre}</h2>
            <span class=" text-lg">{rol}</span>
            <div class="flex gap-4 mt-1">
              <a href={linkedin}>
                <LinkedIn class="size-8" />
              </a>
              <a href="#">
                <GithubIcon class="size-8" />
              </a>
              <a href="#">
                <WebSiteIcon class="size-8 text-blue-700 hover:text-blue-900" />
              </a>
            </div>
          </li>
        ))
      }
    </ul>
    <i id="right" class="flex justify-center items-center"><ArrowRight /></i>
  </div>
</div>

<script>
  const leftButton = document.getElementById("left");
  const rightButton = document.getElementById("right");
  const carousel = document.querySelector(".carousel");

  leftButton?.addEventListener("click", () => {
    carousel?.scrollBy({ left: -400, behavior: "smooth" });
  });

  rightButton?.addEventListener("click", () => {
    carousel?.scrollBy({ left: 400, behavior: "smooth" });
  });
</script>

<style>
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active {
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child {
    left: -22px;
  }
  .wrapper i:last-child {
    right: -22px;
  }
  .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    width: 300px;
    list-style: none;
    background: #fff;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6a6d78;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    /* .wrapper .carousel {
      grid-auto-columns: 100%;
      justify-content: center;
    }
    .carousel .card {
      margin-left: auto;
      margin-right: auto;
    } */

    .wrapper .carousel {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      justify-content: flex-start;
      padding-left: 50%;
      padding-right: 50%;
    }
    .carousel::-webkit-scrollbar {
      display: none;
    }
    .carousel .card {
      flex: 0 0 auto;
      width: 300px;
      scroll-snap-align: center;
    }
  }
</style>
